<form class="login-group margin-bottom">
    <div class="form-group has-error" ng-if="$ctrl.loginError">
        <span class="help-block">Login/Password you've entered was invalid. Please try again!</span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">User name</label>
        <input type="text" class="form-control" ng-model="$ctrl.userparams.username" id="exampleInputEmail1" placeholder="Enter your username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" ng-model="$ctrl.userparams.password" id="exampleInputPassword1" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-default" ng-click="$ctrl.authorize($event)">Login</button>
</form>
<div class="row">
    <div class="alert alert-info col-lg-offset-3 col-lg-6">
        <strong>Login: </strong> user <br/>
        <strong>Password: </strong> user
    </div>
</div>