<div class="col-md-9">
    <div class="panel panel-info">
        <div class="panel-heading">Emails: </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>To: </th>
                    <th>Subject: </th>
                </tr>
            </thead>
            <tbody>
                <tr ui-sref=".letter({letterId: email._id})" class="cursor" ng-repeat="email in $ctrl.emails">
                    <td>{{email.to}}</td>
                    <td>{{email.subject}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ui-view></ui-view>
</div>