<navigation-bar></navigation-bar>
<div class="row">
    <div class="col-lg-3">
        <button class="btn btn-default btn-block margin-bottom" ui-sref="users.add()">
            <span class="glyphicon glyphicon-plus-sign pull-left"></span>Add user</button>
        <div class="list-group">
            <a ng-repeat="user in $ctrl.users"
               ui-sref="users.detail({userId: user._id})"
               class="list-group-item" ui-sref-active="active">{{user.fullName}}</a>
        </div>
    </div>
    <div class="col-lg-9">
        <ui-view>
            <h1>Select a contact</h1>
        </ui-view>
    </div>
</div>